extends ../layout/default

block content
  .jumbotron
      h1 MNMIX Freight

  .container
    .row
      .col-md-4
        h2 Contract Details
        ul
          li 
            | Contract your items in a courier contract to the corp 
            strong Moongoo Mining and Mixing
          li 
            | Set "Expiration" to 
            strong 7 days 
            | and "Days to Complete" to 
            strong 7 days.
          li 
            | Maximum size of individual packages no greater than 
            strong 330,000 m3.
          li 
            | Set the collateral to 
            strong 0.
          li Set price according to Route Rates.
          li 
            strong 1,000,000 Isk Minimum 
            | on each contract.
          li No maximum value on packages.
        p Contracts from neutral alts from Jita are not a problem. 
        p Contracts from neutral alts from null sec will be refused.

      .col-md-8
        h2 Route Rates

        table.table.table-striped.table-condensed
          tbody
          each route in routes
            include _row_route

